<div class="header header-black">
  <div class="container header-black-container d-flex">
    <a class="header-logo" routerLink="/">
      <img src="assets/images/app/plane.png" alt=""> Logo
    </a>
    <ul class="header-menu">
      <li>
        <a href="">Dashboard</a>
      </li>
      <li>
        <a href="">Table</a>
      </li>
      <li>
        <a href="">CSV manager</a>
      </li>
    </ul>
    <div class="d-flex order-lg-2 ml-auto">
      <div class="dropdown">
        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
          <span class="avatar" style="background-image: url(assets/images/app/avatar.png)"></span>
          <span class="ml-2 d-none d-lg-block">
            <i class="fe fe-chevron-down"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
          <a class="dropdown-item" href="#">
            <i class="dropdown-icon fe fe-user"></i> Profile
          </a>
          <a class="dropdown-item" href="#">
            <i class="dropdown-icon fe fe-settings"></i> Settings
          </a>
          <a class="dropdown-item" href="#">
            <span class="float-right">
              <span class="badge badge-primary">6</span>
            </span>
            <i class="dropdown-icon fe fe-mail"></i> Inbox
          </a>
          <a class="dropdown-item" href="#">
            <i class="dropdown-icon fe fe-send"></i> Message
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="dropdown-icon fe fe-help-circle"></i> Need help?
          </a>
          <a class="dropdown-item" href="#">
            <i class="dropdown-icon fe fe-log-out"></i> Sign out
          </a>
        </div>
      </div>
    </div>
  </div>
</div>