.chart-type {
  flex-direction: row-reverse;
  .btn {
    margin-left: 10px;
  }
}

.output-list {
  margin-top: 15px;
  padding-left: 0;
  list-style: none;
}

.invalid-feedback {
  display: block;
}