<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="./index.html">
        Project results
        <span class="text-muted" style="font-weight: 100"> | Dashboard</span>
      </a>
      <div class="col-lg-4 ml-auto d-flex" style="padding-right: 0">
        <form class="input-icon my-3 my-lg-0" style="margin-right: 5px">
          <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
        <button
          class="btn btn-primary"
          style="margin-left: auto"
          routerLink="/new-widget"
        >
          <i class="fe fe-plus"></i> New widget
        </button>
      </div>
    </div>
    <!-- ./d-flex -->
  </div>
  <!-- ./container -->
</div>

<div class="sp-20"></div>

<!-- /.header -->
<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="text-uppercase text-thin">Member</h2>
      <canvas id="chart-sample"></canvas>
    </div>
  </div>

  <div class="card" *ngFor="let chart of charts; let i = index">
    <div class="card-body">
      <h2 class="text-uppercase text-thin">{{ chart.title }}</h2>
      <canvas [id]="'chart-' + i"></canvas>
    </div>
  </div>
</div>